<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>{block name="title"}标题{/block}</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
</head>

<body class="container">
    <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://www.mengyunzhi.com">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{:url('Teacher/index')}">教师管理</a></li>
                            <li><a href="{:url('Student/index')}">学生管理</a></li>
                            <li><a href="{:url('Klass/index')}">班级管理</a></li>
                            <li><a href="{:url('Course/index')}">课程管理</a></li>
                        </ul>
                        
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('Login/logout')}">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <!-- /菜单导航 -->

    <div class="row">
        <div class="col-md-12">
            {block name="search"}
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="name">姓名</label>
                            <input name="name" type="text" class="form-control" placeholder="姓名..." value={:input( 'get.name')}>
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
                </div>
            </div>
            <hr /> {/block} {block name="content"} {/block} {block name="page"} {/block}
        </div>
    </div>
</body>

</html>
